@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

Foto A

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2018

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: #5d5d5d;
$secondary_color: #d90001;
$tertiary_color: #fdb62c;
$background: #ededed;
$border: #2a2a2a;

/* ---------- General ---------- */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
	margin: 0;
	padding: 0;
}

body {
	font: {
		family: 'Open Sans', sans-serif;
		size: 14px;
	}
	color: $primary_color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Open Sans', sans-serif;
}

a {
	color: $secondary_color;
	&:hover {
		color: $secondary_color;
	}
}

/* ---------- Template ---------- */

/* Top */

.top_1 {
	background-color: $secondary_color;
	.moduletable_t11 {
		color: #fff;
		a {
			color: #fff;
		}
	}
}

.top {
	.moduletable_to1 {
		max-height: 60px;
		margin-top: -42px;
		a {
			display: block;
		}
	}
	.moduletable_to2 {
		.top-bar {
			padding: 0;
			background-color: transparent;
			.top-bar-title {
				margin: 0;
			}
			#responsive-menu {
				width: 100%;
				ul.menu {
					background-color: transparent;
					li {
						padding: 0 4px;
						background: {
							image: url(moduletable_to2_menu_li_bg.png);
							position: right;
							repeat: no-repeat;
						}
						&:last-child {
							background: none;
						}
						&.current-menu-parent,
						&.current-menu-item,
						&.current_page_parent {
							a {
								background-color: $tertiary_color;
								color: $secondary_color;
							}
						}
						a {
							padding: 23px 10px 22px;
							font-size: 15px;
							color: $secondary_color;
							text-transform: uppercase;
							&:hover {
								background-color: $tertiary_color;
								color: $secondary_color;
							}
						}
					}
				}
			}
		}
	}
	.moduletable_to3 {
		max-height: 60px;
		margin-top: -42px;
		a {
			display: inline-block;
		}
	}
	.moduletable_to4 {}
}

/* Banner */

.banner {
	.moduletable_ba1 {
		iframe {
			border: 0;
		}
	}
}

/* Content */

.content {
	padding: 20px 0;
	h1 {
		margin-bottom: 0;
		font-size: 20px;
		color: $secondary_color;
	}
	.asterisk {
		color: red;
	}
	a.add-request-quote-button,
	input {
		&.button {
			background-color: $secondary_color;
			border-radius: 0;
			color: #fff;
		}
		&#um-submit-btn {
			background-color: $secondary_color;
		}
	}
	.woocommerce {
		ul.products {
			li {
				margin-bottom: 10px;
				a.woocommerce-LoopProduct-link {
					border: 1px solid #ccc;
					border-bottom: 0;
					display: block;
					img {
						margin: 0;
						padding: 10px;
						border-bottom: 1px solid #ccc;
					}
					h2 {
						padding: 10px !important;
						color: $secondary_color;
						text: {
							align: center;
							transform: uppercase;
						}
					}
				}
				a.product_type_simple {
					margin: 0;
					background: transparent;
					border: 1px solid #ccc;
					border-top: 0;
					border-radius: 0;
					color: $primary_color;
					display: block;
				}
			}
		}
		.product {
			p.price {
				color: $primary_color;
			}
		}
		a,
		button {
			&.button {
				background-color: $secondary_color;
				border-radius: 0;
				color: #fff;
			}
		}
	}
	&.full-width {
		.max {
			max-width: 1000px;
			margin: auto;
		}
	}
}

/* Block 1 */

.block_1 {
	padding: 20px 0;
	background: {
		image: url(block_1_bg.png);
		position: bottom;
		repeat: repeat-x;
	}
	.moduletable_b11 {
		p {
			margin-bottom: 0;
		}
	}
}

/* Block 2 & Block 4 */

.block_2,
.block_4 {
	padding: 20px 0;
	.moduletable_b21,
	.moduletable_b41 {
		h3 {
			margin-bottom: 20px;
			font-size: 24px;
			color: $secondary_color;
		}
		.wpb_slider_area {
			.owl-item {
				figure {
					border: 1px solid #ccc;
					a.wpb_pro_img_url {
						padding: 10px;
						border-bottom: 1px solid #ccc;
					}
					figcaption {
						background: transparent;
						a.wpb-wps-product-title {
							text: {
								align: center;
								transform: uppercase;
							}
						}
						.pro_price_area {
							color: $primary_color;
						}
						.wpb_cart_button {
							a.button {
								background-color: $border;
								&.add_to_cart_button {
									padding: 10px 50px 10px 10px;
									background: {
										image: url(button_cart_bg.png);
										position: right;
										repeat: no-repeat;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

/* Block 3 */

.block_3 {
	.moduletable_b31 {
		#a {
			h3 {
				margin: 20px 0;
				font-size: 24px;
				span.red {
					color: $secondary_color;
				}
			}
		}
		#b {
			padding: 40px 0;
			background: {
				image: url(block_3_bg.png);
				position: center;
				repeat: no-repeat;
				size: cover;
			}
			.max {
				max-width: 1000px;
				margin: auto;
			}
			.red {
				width: 580px;
				margin: auto;
				padding: 10px;
				background-color: $secondary_color;
				font-size: 28px;
				color: #fff;
				.button {
					margin: 0;
					padding: 10px;
					background-color: $tertiary_color;
					border-radius: 0;
					font-size: 28px;
					color: $secondary_color;
				}
			}
		}
	}
}

/* Block 5 */

.block_5 {
	background: {
		image: url(block_5_bg.png);
		position: center;
		repeat: repeat-x;
	}
	.moduletable_b51 {
		h3 {
			margin: 20px 0;
			font-size: 24px;
			color: $secondary_color;
		}
		#a,
		#b,
		#c {
			background-color: $background;
			div {
				img {
					width: 100%;
				}
				&.text {
					padding: 20px;
					h4 {
						font: {
							size: 14px;
							weight: bold;
						}
						color: $secondary_color;
					}
					p {
						margin: 0;
					}
				}
			}
		}
		#d {
			font-size: 18px;
			span.red {
				color: $secondary_color;
			}
			a {
				color: $primary_color;
			}
		}
	}
}

/* Block 6 */

.block_6 {
	padding: 20px 0;
	background-color: $tertiary_color;
	.moduletable_b61 {
		h2 {
			width: 50%;
			margin: 0;
			padding: 0 10px;
			font-size: 20px;
			color: #fff;
			text-align: center;
			float: left;
			position: relative;
		}
		.tnp-widget {
			width: 50%;
			padding: 0 10px;
			float: left;
			position: relative;
			.tnp-field {
				margin: 0;
			}
			.tnp-field-email {
				width: 50%;
				float: left;
				position: relative;
				label {
					display: none;
				}
				input.tnp-email {
					margin: 0;
					background-color: #fff;
				}
			}
			.tnp-field-button {
				width: 30%;
				float: left;
				position: relative;
				input.tnp-submit {
					margin: 0;
					background-color: $border;
					border: 0;
					border-radius: 0;
				}
			}
		}
	}
}

/* Bottom */

.bottom {
	padding: 20px 0;
	.moduletable_bo1 {
		p {
			margin: 0;
		}
		font: {
			size: 22px;
			weight: bold;
		}
	}
}

/* Copyright */

.copyright {
	padding: 10px 0;
	background-color: $secondary_color;
	color: #fff;
	a {
		color: #fff;
	}
}

/* ---------- Media Queries ---------- */

/* Small only (639px) */

@media screen and (max-width: 39.9375em) {

	/* Block 6 */

	.block_6 {
		.moduletable_b61 {
			h2 {
				width: 100%;
				margin-bottom: 10px;
				font-size: 16px;
				float: none;
			}
			.tnp-widget {
				width: 100%;
				float: none;
				.tnp-field-email {
					width: 60%;
				}
				.tnp-field-button {
					width: 40%;
				}
			}
		}
	}

}

/* Medium and up (640px) */

@media screen and (min-width: 40em) {}

/* Medium only (640px and 1023px) */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024px) */

@media screen and (min-width: 64em) {}

/* Large only (1024px and 1199px) */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* ---------- Others ---------- */

.clear {
	clear: both;
}